<!DOCTYPE html>
<html>
<head>
  <title></title>



  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="read.js" defer></script>

  <!-- THEME -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  <meta name="author" content="Tanislav Robert">
  <meta name="description" content="KARMO is a creative and modern template for digital agencies">

  <!-- STYLES -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/flexslider.css">
  <link rel="stylesheet" href="assets/css/animsition.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.css">
  <link rel="stylesheet" href="assets/css/owl.theme.css">

  <link rel="stylesheet" href="index.css">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.turnjs.com/lib/turn.min.js"></script>
  <div id = "app">
    <div class="commentary-left" v-if="currentLeftPage > 2">
      <div v-for="line in currentLeftLines">
        {{line.comments.length}}
      </div>
    </div>
    <div class="test">
      <div id="flipbook">
        <div class="hard"> Click on left side of screen to turn page </div>
        <!-- content gets added here over time -->
      </div>
    </div>
    <div class="commentary-right">
      <div v-for="line in currentRightLines">
        {{line.comments.length}}
      </div>
    </div>
  </div>
    <a href="/"><button >back</button></a>
    <button ><a v-on:click="bookmark">Bookmark page</a></button>

</body>
</html>
